    <div class="divider">
      <span>On Today's Menu</span>
    </div>
    <ul class="image-grid">
    {% for link in site.data.navigation limit:3 %}
      {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.url %}
      {% endif %}
      <a href="{{ domain }}{{ link.url }}" title="{{ link.title }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
        <li>
            <span class="link-post">
            {% if link.altTitle %}
              {{link.altTitle}}
            {% else %}
              {{ link.title }}
            {% endif %}
            </span>
            <span class="backgroundImage" style="background:url('{{ site.url }}/images/{{ link.img }}'); background-size: cover;">
            </span>
        </li>
      </a>

    {% endfor %}
    </ul>
    <ul class="image-grid">
    {% for link in site.data.navigation limit:3 offset:3%}
      {% if link.url contains 'http' %}
                {% assign domain = '' %}
                {% else %}
                {% assign domain = site.url %}
      {% endif %}
      <a href="{{ domain }}{{ link.url }}" title="{{ link.title }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>
        <li>
            <span class="link-post">
            {% if link.altTitle %}
              {{link.altTitle}}
            {% else %}
              {{ link.title }}
            {% endif %}
            </span>
            <span class="backgroundImage" style="background:url('{{ site.url }}/images/{{ link.img }}'); background-size: cover;">
            </span>
        </li>
      </a>

    {% endfor %}
    </ul>
