.navigation-wrapper {
    width: 100%;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    width: 95%;
    padding: 1em;
    *zoom: 1
}

@media only screen and (min-width: 62em) {
    .navigation-wrapper {
        width: 85%
    }
}

.navigation-wrapper:before,
.navigation-wrapper:after {
    display: table;
    content: "";
    line-height: 0
}

.navigation-wrapper:after {
    clear: both
}



/* Top navigation links */
.top-navigation {
    margin: 1.25rem 0 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.top-navigation li {
    display: inline;
    list-style-type: none;
    font-size: 16px;
    font-size: 1.2rem
}

.top-navigation li a {
    display: inline;
    padding: 1rem;
}

.top-navigation .sideNav {
    font-weight: 500;
    align-self: flex-start;
}

.top-navigation .sideNav li {
    display: inline !important;
}

.top-navigation .sideNav li a {
    display: inline !important
}

.top-navigation .sideNav li a:hover {
    color: gray
}

@media only screen and (min-width: 48em) {
    .top-navigation .sideNav {
        display: inline
    }
}

.icon-menu {
    position: relative;
    top: 3px;
    line-height: 0
}

.nav ul {
    max-height: 0;
    overflow: hidden
}

@media only screen and (min-width: 37.5em) {
    .nav ul {
        max-height: 30em
    }
}

/* Site name */
.site-name {
    margin-bottom: 5px;
    float: none;
    display: inline-block;
    font-size: 3rem;
    padding: 0
}

.site-name a:visited {
    color: #343434
}